.container {
    background: #171720;
  }

.content {
  width: 100%;
  height: 100%;
  padding: 10px 15px;
}

.marker {
  color: black;
  position: absolute;
  top: -10px;
  left: 25px;
  font-family: monospace;
}

.image {
  width: 70%;
  height: 100%;
  background-size: cover;
  background-position: center center;
}

.bottomBar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: var(--bottom-slider-height);
  z-index: 20;
}